{% include "Header.html" %}
<div>
<table>
         <thead>
            <tr>
               <th>     Identity    </th>
               <th>     Answer 1    </th>
               <th>     Answer 2    </th>
               <th>     Answer 3    </th>
               <th>     Answer 4    </th>
               <th>     Answer 5    </th>
               <th>     Answer 6    </th>
               <th>     Answer 7    </th>
            </tr>
         </thead>

         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.id }}</td>
                  <td>{{ student.A1 }}</td>
                  <td>{{ student.A2 }}</td>
                  <td>{{ student.A3 }}</td>
                  <td>{{ student.A4 }}</td>
                  <td>{{ student.A5 }}</td>
                  <td>{{ student.A6 }}</td>
                  <td>{{ student.A7 }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      </div>

      </div>
      <div>
{% include "Footer.html" %}
