<!-- =================================================================================================================================== -->



			
	</div> <!-- content div -->
		
	<footer>
		<div class="container-fluid footer-div" style='background: url({{ url_for("static", filename="images/footer.png") }}); margin-top: 80px;  padding: 20px;'>
			<div class="col-md-4 border-right-green-dotted" >
				<h2 class="text-h2-lightblue-small" style="font-weight: bold;margin-top: 0px;">Updates</h2>
				<div><a href="http://vlead.vlabs.ac.in/20../../../../lab-integration-kit-1-0-0-released/" class="text-normal-gray-small nounderline" style="color: white" > Lab Integration Kit 1.0.0 Released</a></div>
				<div><a href="http://vlead.vlabs.ac.in/20../../../../summer-sprint-integration-workshop-at-iit-guwahati/" class="text-normal-gray-small nounderline" style="color: white" > Summer Sprint Integration Workshop at IIT Guwahati</a></div>
				<div><a href="http://vlead.vlabs.ac.in/20../../../../a-new-set-of-35-virtual-labs-on-portable-media/" class="text-normal-gray-small nounderline" style="color: white" > A new set of 35 Virtual Labs on Portable Media</a></div>
			</div>
			
			<div class="col-md-2 border-right-green-dotted" >
<!-- 				<h2 class="text-h2-lightblue-small" style="font-weight: bold;margin-top: 0px;">Nodal Centers</h2>
				<div><a href="#" class="text-a-lightgreen" style="text-decoration: underline;" > REGISTRATION</a></div>
				<div><a href="#" class="text-a-lightgreen" style="text-decoration: underline;" > LOGIN</a></div> -->
				<!-- <div><a href="#" class="text-a-lightgreen" style="text-decoration: underline;" > Outreach Portal</a></div> -->
				<div><a href="http://vlead.virtual-labs.ac.in/" class="text-a-lightgreen" style="text-decoration: underline;" > VLEAD Blog</a></div>
				<div><a href="http://www.sakshat.ac.in/" class="text-a-lightgreen" style="text-decoration: underline;" > Sakshat Portal</a></div>
				<div><a href="http://118.102.191.38/feedback/Registration.html" class="text-a-lightgreen" style="text-decoration: underline;" > Nodal Center</a></div>
			</div>
			
			<div class="col-md-3 border-right-green-dotted" >
<!-- 				<div><a href="#" class="text-a-lightgreen" style="text-decoration: underline;" > FAQ</a></div>
				<div><a href="#" class="text-a-lightgreen" style="text-decoration: underline;" > FEEDBACK</a></div>
				<div><a href="#" class="text-a-lightgreen" style="text-decoration: underline;" > SAKSHAT PORTAL</a></div> -->
				<div class="text-h2-lightblue-small"> Contact : <i class="fa fa-envelope-o" style="color: white; font-size: 0.8em;"></i> <a class="text-a-lightgreen" style="text-decoration: underline; font-size: 1.0em;" href="mailto:support@vlab.co.in">support@vlabs.ac.in</a></div>
				<div><a href="http://118.102.191.38/feedback/feedback.html" class="text-a-lightgreen" style="text-decoration: underline;" > Feedback</a></div>
			</div>
			
			<div class="col-md-2 border-right-green-dotted" >
				<h2 class="text-h2-lightblue-small" style="font-weight: bold;margin-top: 0px;"> Follow us</h2>
				<a href="https://www.facebook.com/pages/Virtual-Labs-IIT-Delhi/301510159983871" class="text-a-lightgreen nounderline"   target="_blank"> <img src="{{ url_for('static', filename='images/social/fb.png') }}"  style="border-radius: 50%;"/> </a>
				<a href="https://twitter.com/TheVirtualLabs" class="text-a-lightgreen nounderline"   target="_blank"> <img src="{{ url_for('static', filename='images/social/twitter.png') }}"  style="border-radius: 50%;"/></a>
				
			</div>
			
 		</div>
	</footer>


</div> <!-- top div -->

</body>


	<!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    
    <!-- Include js plugin -->
	<script src="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.js') }}"></script>
    
  
    <script src="{{ url_for('static', filename='js/exp8/post_req.js') }}"></script>
	<script src="{{ url_for('static', filename='js/exp8/flaskJs.js') }}"></script>
	<script src="{{ url_for('static', filename='js/exp8/exp8.js') }}"></script>


	<script type="text/javascript">
	$(document).ready(function() {
		 console.log(document.getElementById(mode).value);
		  var owl = $("#owl-demo");
		  owl.owlCarousel({
		      navigation: true,
		      navigationText: [
		                       "<img src=\"{{ url_for('static', filename='/images/left-arrow.png') }}\">",
		                       "<img src=\"{{ url_for('static', filename='images/right-arrow.png') }}\">"
		                       ],
		      /* autoPlay : 3000,
		      stopOnHover : true */
		  });
		  
		  //owl for partner institutions
		  var owl = $("#owl-partner-institutions");
		  owl.owlCarousel({
		      navigation: true,
		      navigationText: [
		                       "<img src=\"{{ url_for('static', filename='/images/left-arrow.png') }}\">",
		                       "<img src=\"{{ url_for('static', filename='images/right-arrow.png') }}\">"
		                       ],
		      autoPlay : 3000,
		      stopOnHover : true,
		      items : 8,
		  });
		 
		
	
	 //owl for aboutus
	  var owl = $("#owl-aboutus");
	  owl.owlCarousel({
	      navigation: true,
	      singleItem:true
	  });
	 
	});
	</script>

</html>
