{% include "Header.html" %}
<h1 class="text-h2-lightblue">AES and Modes of Operation</h1><div class="content" id="experiment-article-section-5-content">
<ul>
<li><b>Step I :</b> Choose a mode of operation from <i>PART I</i> </li>
<li><b>Step II :</b> Select KeySize, Plaintext, KeyText, Intialization vector(IV) (for ECB and OFB modes only) 
                             and CTR(for ctr mode only) in <i>PART II</i></li>
<li><b>Step III :</b> Whenever necessay use XOR opeartion in <i>PART III</i> in accordance with choosen mode of operation</li>
<li><b>Step IV : </b> Use fuction <b>F<sub>K</sub></b> and "Key in hex:" field in <i>PART IV</i> should be filled keytext generated in <b>Step2</b></li>
<li><b>Step V : </b> Fill "Plaintext in hex:" field with approriate value in accordance with choosen mode of operation and click on encrypt button</li>
<li><b>Step VI :</b> Enter your answer in <i>PART V</i> to check your ciphertext</li>
</ul></div>						</div>
					</div>
			</div>

{% include "Footer.html" %}
