{% include "Header.html" %}
<h1 class="text-h2-lightblue">AES and Modes of Operation</h1><div class="content" id="experiment-article-section-6-content">
<div class="content" id="experiment-article-section-6-content">
<form action="{{request.path}}" method="post">
         <label>1. ECB stands for</label><br>
         <input type="radio" name="A1" value="1" checked>Electronic cipher Block<br>
         <input type="radio" name="A1" value="2">Electronic code Block<br>
         <input type="radio" name="A1" value="3">Electronic code Book<br>
         <input type="radio" name="A1" value="4">Electronic cipher Book<br>
         <label>2.Which among the following is not CPA secure?</label><br>
         <input type="radio" name="A2" value="1" checked>ECB<br>
         <input type="radio" name="A2" value="2">CBC<br>
         <input type="radio" name="A2" value="3">CFB<br>
         <input type="radio" name="A2" value="4">None<br>
         <label>3.Which of the following are block ciphers?</label><br>
         <input type="radio" name="A3" value="1" checked>ECB<br>
         <input type="radio" name="A3" value="2">CBC<br>
         <input type="radio" name="A3" value="3">CFB<br>
         <input type="radio" name="A3" value="4">All<br>
         <label>4.Which is the fastest mode of operation among four mode of operation?</label><br>
         <input type="text" name="A4"><br>
         <label>5.Which mode of operation is more secure? </label><br>
         <input type="text" name="A5"><br>
         <label>6.What is importance of Intialiczation Vector(IV) and CTR ? </label><br>
         <input type="text" name="A6"><br>
         <label>7.Why ECB is not CPA-secure and Why CBC is CPA-secure?</label><br>
         <input type="text" name="A7"><br>
<input type = "submit" value = "Submit">
</form></div>						</div>
					</div>
			</div>
{% include "Footer.html" %}
